            body{
                font-family: 'Inconsolata', monospace; /*monospace is the fallback one*/
                background-color: #E3F2FD;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #main{
                margin: 1%;
                margin-top: 2%;
                display: flex; /* Set the main div as a flex container */
                flex-direction: row; /* Align children horizontally (default for flex) */
                justify-content: center; /* Center all divs horizontally */
                align-items: end; /* Align all divs vertically to the center */
                gap: 10px; /* Add some spacing between divs */
                height: 100vh; /* Optional: Make the container take the full height of the viewport */
                width: 1390px;
                height: 835px;
            }
            /* Media query for smaller screens */
            @media (max-width: 1390px), (max-height: 835px) {
                #main {
                    flex-direction: column; /* Stack children vertically */
                    align-items: center; /* Center all divs horizontally */
                    width: 100%; /* Make the container responsive */
                    height: auto; /* Adjust height based on content */
                }
            }
            #toggle_div{
                display: flex;
                justify-content: center; /* Centers horizontally */
                align-items: center;     /* Centers vertically */
                margin: 1%;
                padding: 1%;
                width: 385px;
                height: 40px;
            }
            #toggle{
                width: 15px;
                height: 15px;
                margin: 0%;
                padding: 0%;
                display: none;
            }
            #label{
                display: inline-block;
                background-color: grey;
                width: 64px;
                height: 30px;
                border-radius: 20px;
                transition: background-color 0.3s linear, border 0.3s linear; /* Transition background color smoothly */
                margin: 3.2% 0% 1% 0%;
                cursor: pointer;
                position: relative;
            }
            #label::before {
                content: "";
                display: inline-block;
                width: 33px;
                height: 31px;
                background-color: white;
                border-radius: 50%;
                transition: transform 0.3s linear; /* Transition movement of the circle */
            }
            span{
                width: 50px;
                font-size: 15px;
                margin-left: 10%;
                margin-right: 11%;
            }
            input[type="checkbox"]:checked + #label {
                background-color: #7983ff; /* Change the background color when checked */
            }
            input[type="checkbox"]:checked + #label::before {
                transform: translate(30.5px, 0); /* Move the circle when checked */
            }
            #swap_values{
                display: block;
                margin-left: 42%;
                width: 50px;
                height: 50px;
                background-color: rgba(0, 0, 0, 0); /* Transparent color */
                background-repeat: no-repeat;
                background-position: center;
                background-size: 80%;
                background-image: url("images/swap.png");
            }
            .history_tab_hidden{
                box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow inside the box */
                background-color: white;
                display: inline-block;
                padding: 10px 2% 2% 2%;
                width: 350px;
                height: 570px;
                text-align: right;
                vertical-align: bottom;
                opacity: 0; /* Fully transparent */
                visibility: hidden; /* Element is hidden but still occupies space */
                transition: opacity 0.6s ease-in-out 0.2s, visibility 0.6s ease-in-out 0.2s; /* Smooth transition */
            }
            .history_tab_visible{
                box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow inside the box */
                background-color: white;
                display: inline-block;
                padding: 10px 2% 2% 2%;
                width: 350px;
                height: 570px;
                text-align: right;
                vertical-align: bottom;
                opacity: 1; /* Fully visible */
                visibility: visible; /* Element is visible */
                transition: opacity 0.6s ease-in-out 0.2s, visibility 0.6s ease-in-out 0.2s; /* Smooth transition */
            }
            .converter_tab_hidden{
                box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow inside the box */
                background-color: white;
                display: inline-block;
                padding: 1%;
                width: 410px;
                height: 570px;
                vertical-align: bottom;
                text-align: left;
                overflow-y: auto;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.6s ease-in-out 0.2s, visibility 0.6s ease-in-out 0.2s, box-shadow 0.3s ease-in-out; /* Smooth transition */
            }
            .converter_tab_visible{
                box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow inside the box */
                background-color: white;
                display: inline-block;
                padding: 1%;
                width: 410px;
                height: 570px;
                vertical-align: bottom;
                text-align: left;
                overflow-y: auto;
                opacity: 1;
                visibility: visible;
                transition: opacity 0.6s ease-in-out 0.2s, visibility 0.6s ease-in-out 0.2s, box-shadow 0.3s ease-in-out; /* Smooth transition */; /* Smooth transition */
            }
            button.exchange{
                text-align: center;
                vertical-align: middle;
                font-size: 20px; 
                padding: 0%; 
                border-radius: 50%;
                width: 35px;
                height: 35px;
                transform: translateY(-10px);
                margin: 0% 0% 0% 10%;
                color: #4380c2a2;
            }
            form{
                height: 410px;
                padding: 2%;
                margin-top: 10px;
            }
            #target-currency, #source-currency{
                width: 100px;
                height: 30px;
                font-size: 30px;
                border-radius: 0%;
                padding: 1%;
                transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
            }
            #source_currency_value, #target_currency_value{
                box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow inside the box */
                width: 95%;
                height: 80px;
                font-size: 60px;
                border-radius: 0%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
            label{
                height: 30px;
                display: inline-block;
                padding: 1%;
                margin-bottom: 1%;
                font-size: 20px;
                transform: translateY(-5px);
            }
            #history_data_screen {
                width: 350px;
                height: 530px;
                overflow-y: auto;
                direction: rtl;
                overflow-wrap: break-word; /* Ensure words break to the next line */
                word-wrap: break-word;    /* For older browsers */
                white-space: normal;      /* Prevent text from staying in a single line */
            }
            #history_no_data{
                text-align: center;
                padding-top: 50px;
            }
            h4{
                font-size: 30px;
            }
            img{
                width: 250px;
                height: 250px;
            }
            .history_data{
                line-height: 0.8;
                padding: 1%;
            }
            p{
                padding: 1%;
                font-size: 22px;
            }
            .para_timestamp{
                color: blue;
            }
            .para_input{
                color: gray;
            }
            .para_result{
                color: black;
                font-weight: bold;
                font-size: 25px;
            }
            #history_btn{
                width: 350px; 
                height: 30px; 
                font-size: 20px; 
                padding: 1%; 
                margin: 0%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #history_btn_screen{
                display: flex;
                justify-content: center;
                align-items: end;
                margin-top: 20px;
            }
            #calculator{
                display: inline-block;
                width: 500px;
                height: 780px;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Creates the illusion of depth */
                padding: 2%;
                background-color: white;
                text-align: left;
            }
            #screen{
                padding: 3% 7% 3% 7%;
                height: 180px;
                text-align: left;
            }
            #buttons{
                height: 520px;
                text-align: center;
                vertical-align: middle;
            }
            #close_window{
                padding: 1%;
                width: 30px;
                height: 30px;
                margin: 1%;
                margin-bottom: 3%;
                font-size: 17px;
                background-color: transparent;
                transform: translateX(365px);
            }
            button{
                text-align: center;
                vertical-align: middle;
                margin: 4%;
                margin-bottom: 2%;
                width: 70px;
                height: 70px;
                border-radius: 25px;
                border: none;
                font-size: 34px;
                background-color: #f2f0f5;
                outline: none;
            }
            button:hover{
                background-color: #e3e2e7;
                cursor: pointer;
            }
            #inputs{
                border: none;
                outline: none;
                resize: none;
                padding: 2%;
                width: 430px;
                height: 100px;
                font-size: 65px;
                overflow-x: auto;       /* Enable horizontal scrolling when content exceeds the width */
                overflow-y: hidden;     /* Disable vertical scrolling */
                white-space: nowrap;    /* Prevent text from wrapping to the next line */
            }
            #results{
                resize: none;
                padding: 2%;
                vertical-align: middle;
                width: 430px;
                height: 80px;
                font-size: 40px;
                outline: none;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
                border: none;
            }
            textarea{
                transition: opacity 0.35s ease-in-out;
            }
            .hidden{
                opacity: 0;
            }
            textarea::-webkit-scrollbar-track{
                background: transparent; /* Color of the track */
            }
            /* Style the scrollbar itself */
            textarea::-webkit-scrollbar{
                width: 10px;
            }
            /* Style the scrollbar thumb */
            textarea::-webkit-scrollbar-thumb{
                background: transparent;
                border-radius: 5px;
            }
            .special_btn{
                background-color: #dbe2fc;
            }
            .special_btn:hover{
                background-color: #dedbfc;
            }
            #addons{
                display: inline-block;
                margin-top: 20px;
                width: 420px;
                margin-left: 40px;
            }
            input{
                background-color: rgba(0, 0, 0, 0); /* Transparent color */
                background-repeat: no-repeat;
                background-position: center;
                background-size: 80%;
                width: 40px;
                height: 40px;
                margin: 1%;
                padding: 1%;
                border: none;
                border-radius: 50%;
                outline: none;
                transition: background-color, background-image 0.5s ease-in-out;
            }
            #history:hover{
                cursor: pointer;
                background-color: #dbe2fcc0;
            }
            #converter:hover{
                cursor: pointer;
            }
            .history_hidden{
                background-color: #dbe2fcc0;
            }
            div.comman_converter_div_hidden{
                box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow inside the box */
                width: 400px;
                height: 500px;
                background-color: white;
                padding: 2%;
                position: absolute;
                transform: translateY(-710px);
                margin-left: 0.7%;
                display: inline-block;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.6s ease-in-out 0.2s, visibility 0.6s ease-in-out 0.2s;  /*Smooth transition */
            }
            div.comman_converter_div_visible{
                box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow inside the box */
                width: 400px;
                height: 500px;
                background-color: white;
                padding: 2%;
                position: absolute;
                transform: translateY(-710px);
                margin-left: 0.7%;
                display: inline-block;
                opacity: 1;
                visibility: visible;
                transition: opacity 0.6s ease-in-out 0.2s, visibility 0.6s ease-in-out 0.2s;  /*Smooth transition */
            }
            /*below two are the classes of choices.js libraries to style the select tag ciontents*/
            div.choices__inner{
                width: 96%;
            }
            .choices__list--single .choices__item {
                font-size: 25px;
            }